ConnectionStrings__HTrack=User Id=postgres.sebaapfqjsjldkbrgwid;Password=T7!qP4#Lm9@Vx2Ks;Server=aws-1-ap-northeast-1.pooler.supabase.com;Port=5432;Database=postgres

MigrateDatabase=true

SeedData=false

TelegramBot__Token=7871717103:AAFihuoqB9U8hjxe8JABWPRpOne3666y4CE
